# .dockerignore

# Carpetas y archivos de Node.js
node_modules
npm-debug.log
.npmrc

# Carpetas y archivos de Version Control
.git
.gitignore

# Archivos de entorno y logs
.env
*.log

# Carpetas de CI/CD específicas (si existen)
.github